.button {
  margin: 0;
  padding: 19px;
  width: 260px;
  font-size: 18px;
  font-family: inherit;
  line-height: 1;
  color: #FFFFFF;
  background-color: #3F2AFF;
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.button--secondary {
  border: 1px solid #000000;
  color: inherit;
  background-color: transparent;
}