.socials {
  display: flex;
  gap: 42px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.socials__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
}

.socials__link:hover {
  color: #3F2AFF;
}